:root {
  --bg: #f8f9fa;
  --text: #000;
  --card: #fff;
}

body.dark {
  --bg: #121212;
  --text: #eaeaea;
  --card: #1e1e1e;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

table, .dataTables_wrapper {
  background-color: var(--card);
}

#calendar {
  background: var(--card);
  padding: 15px;
  border-radius: 8px;
}
