body {
  background-color: #f8f9fa;
}

table td {
  vertical-align: middle;
}

#calendar {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.badge-soon {
  background-color: #dc3545;
}

.badge-mid {
  background-color: #ffc107;
  color: #000;
}

.badge-ok {
  background-color: #198754;
}